body{
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
}
.top-bar{
    padding-top: 3px;
    padding-left: 3vw ;
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
    font-family: barlow;
}
.top-center{
    margin-top: 8px;
    background-color: rgb(0, 0, 0);
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-radius: 5px;
    font-size: 17px;
    align-items: center;
}
.palet{
    height: 20vh;
    width: 20%;
    background-color: #00a8ff;
    position: relative;
}
.p{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-family: barlow;
    margin-bottom: 10px;
    margin-right: 5px;
}
.palet1{
    background-color: #9c88ff;
}
.palet2{
    background-color: #fbc531;
}
.palet3{
    background-color:#4cd137 ;
}
.palet4{
    background-color: #487eb0;
}
.palet5{
    background-color: #0097e6;
}
.palet6{
    background-color: #8c7ae6;
}
.palet7{
    background-color: #e1b12c;
}
.palet8{
    background-color: #44bd32;
}
.palet9{
    background-color: #40739e;
}
.palet10{
    background-color: #e84118;
}
.palet11{
    background-color: #f5f6fa;
}
.palet12{
    background-color: #7f8fa6;
}
.palet13{
    background-color: #273c75;
}
.palet14{
    background-color: #353b48;
}
.palet15{
    background-color: #c23616;
}
.palet16{
    background-color: #dcdde1;
}
.palet17{
    background-color: #718093;
}
.palet18{
    background-color: #192a56;
}
.palet19{
    background-color: #2f3640;
}
.colour-palets{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.bk{
    text-decoration: none;
    color: #000000;
}
@media screen and (max-width:425px) {
    .top-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p{
        display: none;
    }
    .l{
        display: none;
    }
}